
$FFFFFF: #ffffff;
$F8F9FC:#F8F9FC;
$C0BFCF:#C0BFCF;
$darkGray9D9DB5:#9D9DB5;
$darkblue192140:#192140;
$darkerBlue10131C:#10131C;
$OffWhiteD7F8FF:#D7F8FF;
$YellowDCF10D:#DCF10D;
$Blue0266FF:#0266FF;


